@font-face
{
font-family: やさしさゴシック;
src: url('https://cdn.leafscape.be/Yasashisa/YasashisaGothic_web.woff2')
     format("woff2");
}
*{font-family: やさしさゴシック;
font-size: 97.5%;}

 
*, *:before, *:after{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
 
body{
color: #000;
background:#f5f5f5;
text-align: center;
margin-right: auto;
margin-left : auto;
}

.flame {
text-align: left;
font-size: 97.5%;
display: inline-block;
padding: 1em;
background-color: #f2f2f2; /* 背景色 */
border: 1px solid #ccc; /* 枠線 */
z-index: 4;}

.txt {
  display: inline-block;
    text-align: left;}


hr{background-color: #cccccc;
color: #cccccc;}

/* 枠 */
html:before, html:after, body:before, body:after {
content: "";
position: fixed;
display: block;
z-index: 1;
}

/* 上 */
html:before {
background:#209cef;
height: 10px; 
width: 100vw;
left: 0;
top: 0;
}

/* 右 */
html:after {
background:#ffd80d;
width: 10px;
height: 100vh;
right: 0;
top: 0;
}

/* 下 */
body:before {
background:#ffd80d;
height: 10px;
width: 100vw;
bottom: 0;
left: 0;
}

/* 左 */
body:after {
background:#209cef;
width: 10px;
height: 100vh;
top: 0;
left: 0;
}

main{
max-width:450px;
margin:0 auto;
padding:30px 45px;
}

main:before, main:after{
position:fixed;
display:block;
content:'';
width:227px;
height:227px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
z-index:3;
}

main:before{
top:-125px;
left:-125px;
background-image:repeating-linear-gradient(-45deg,rgba(255, 94, 166, 1) 0px 1px,	transparent 1px 32px),
repeating-linear-gradient(45deg,rgba(145, 65, 42, 1) 0px 1px, transparent 1px 32px);
}

main:after{
bottom:-125px;
right:-125px;
background-image:repeating-linear-gradient(-45deg,rgba(251, 125, 64, 1) 0px 1px,	transparent 1px 32px),
repeating-linear-gradient(45deg,rgba(49, 158, 91, 1) 0px 1px, transparent 1px 32px);
}

a{
color: #9e9e9e;
text-decoration: none;
}



h3{
text-align: center;
font-size:12px;
letter-spacing:0;
color: #000;}

h3 div{
display:inline-block;
width:19px;
line-height:19px;
text-align:center;
border:solid 1px #000;
border-left:none;
}

h3 div:first-of-type{
border-left:solid 1px;
}

/* 1文字目の背景色 */


h3 div.ry{background:#209cef;}
h3 div.sb{background:#ffd80d;}
h3 div.tt{background:#fb7d40;}
h3 div.ts{background:#319e5b;}
h3 div.ym{background:#ff61a6;}
h3 div.ms{background:#91412a;}

.border{
width:40%;
height:8px;
border-radius:10px;
background:repeating-linear-gradient(-45deg, #fff, #fff 4px, rgba(0,0,0,0) 0, rgba(0,0,0,0) 8px);
margin:60px auto;
}

input[type], textarea{
color: #000;
font-size: 11px;
vertical-align:middle;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: none;
padding: 2px 4px;
}

input[type], textarea{
border: solid 1px;
border-radius: 5px;
padding: 5px 10px;
}

input[type="text"], textarea{
width: 80%;
color: #000;
}

input[type="submit"]{
text-align: center;
width: 80px;
color: #fff;
background: #000;
}

input[type="text"],select{
text-align: center;
width: 100px;
color: #fff;
background: #000;
margin:2px;
height:30px;
border: solid 1px;
border-radius: 5px;
padding: 5px 10px;
vertical-align:middle;
-webkit-appearance: none;
-moz-appearance: none;}

@media screen and (max-width: 480px) {
body, input[type], textarea{
font-size: 12px;
}

.box{
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 20px;
    -webkit-background-size: 40px 40px;
    background-image: -webkit-linear-gradient(-45deg, #209cef 25%, transparent 25%,
          transparent 50%, #ffd80d 50%, #ffd80d 75%,
          transparent 75%, transparent);
}
/* サイトタイトル */
h1{
    color: #000;
    font-size: 50px;
    line-height: 0.9;
    letter-spacing: 2px; 
    margin-top: 10px;
    margin-bottom: 0px;
}

details{text-align: left;}
summary{text-align: left;}