@import url(https://use.fontawesome.com/releases/v5.6.1/css/all.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css);
.cor1 {
  color: #fecb81;
}
.cor2 {
  color: #ff00ff;
}

body {
  display: inline;
  text-align:center;
  align-items: start;
  justify-content: center;
  height: auto;
  background:linear-gradient(#000000,#cc6498);
}

@import url(//fonts.googleapis.com/css?family=Monoton);
.logo {
  text-align: center;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none; }
.logo b{
  font: 500  10vh "Monoton";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  line-height: 50px; }
.logo b span{
  font: 500 10vh "Monoton";
  animation: blink linear infinite 2s; }
.logo b span:nth-of-type(2){
  font: 500 10vh "Monoton";
  animation: blink linear infinite 3s; }
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;   }
  79%{
     color: #333;   }
  80% {
    text-shadow: none; }
  81% {
    color: inherit;
    text-shadow: inherit; }
  82% {
    color: #333;
    text-shadow: none; }
  83% {
    color: inherit;
    text-shadow: inherit; }
  92% {
    color: #333;
    text-shadow: none; }
  92.5% {
    color: inherit;
    text-shadow: inherit; } }

.box{
    position: relative;
    margin: 2em 0;
    padding: 2em 2em;/*文字まわりの余白*/
    border: solid 1px #777777;/*線の種類、太さ、色*/
    border-radius: 50px;/*ボックスの角のまるみ*/
	background-color: #ffffff;
}
.box:before, .box:after{ 
    position: absolute;
    top: 0;
    content:'';
    width: 100%;
    height: 100%;
    border-radius: 40px;/*ボックスの角のまるみ*/
}
.box:before{
    left:0;
    border: solid 1px #777777;/*線の種類、太さ、色*/
    transform: rotate(-0.7deg);/*ボックスの角度*/
}


.box:after{
    left:0;
    border: solid 1px #777777;/*線の種類、太さ、色*/
    transform: rotate(0.7deg);/*ボックスの角度*/
}
.box p {
    margin: 10;
    padding: 10;
}
.wf-mplus1p ts {
  font-family: "M PLUS 1p";
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #fafafa;/*文字色*/
    background: #FFF;
    border: solid 3px #1e90ff;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}